body {
	padding: 0;
	margin: 0;
	background-color: #f1f1f1;
}

.head {
	background: #193446;
	color: rgb(243, 237, 237);
	display: flex;
}

.logo-h1 {
	margin-left: 5%;
}

.logo-h1 a {
	text-decoration: none !important;
	color: rgb(243, 237, 237);
}

.logo-h1 a:hover {
	color: rgb(112, 166, 236);
}

.logo {
	flex-basis: 85%;
	margin: 0%;
}

.login {
	flex-basis: 15%;
	margin-top: 2%;
}

.container {
	margin: 5% 5%;
	padding: 0% 15%;
}

li {
	list-style: none;
}

ul {
	padding: 0%;
}

.flex-all {
	display: flex;
	border: 2px solid black;
	border-radius: 5px;
	background-color: #ffffff;
}

.Genre {
	flex-basis: 40%;
	border-right: 2px solid rgb(161, 158, 158);
	margin-left: 5%;
}

.Anime {
	flex-basis: 60%;
	margin: 0% 5%;
}

.anime-head {
	display: flex;
}

.anime-name {
	flex-basis: 64%;
}

.add-item {
	flex-basis: 36%;
	margin-top: 6%;
}

.list-group {
	border: 1px solid #e1dcdb;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 1%;
}

.list-group:hover {
	background-color: #e1dcdb;
}

.anime-list {
	display: flex;
}

.anime-name {
	flex-basis: 66.6%;
}

.edit-delete {
	flex-basis: 33.3%;
}

button {
	background-color: white;
	color: black;
}

.removebutton {
	display: none;
}

.result {
	text-align: center;
}

.button {
	margin-top: 2%;
}

.newItem {
	margin-top: 2%;
}