<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>   
    </head>
    <body>
        <body>
            <header>
                <div class="head">
                    <div class="logo">
                        <h1 class="logo-h1"><a href="{{url_for('showGenre')}}">Anime Catalog</a></h1>
                    </div>
                    <div class="login">
                            <button class="btn showSignIn" id="signinButton">Sign in </button>
                            <button id="signoutButton" class="btn removebutton">Sign out</button>
                    </div>
                </div>
            </header>
            <div class="result"></div>
            {% block content %}
            
            {% endblock %}   
            <script>
                var name= '{{username}}';
                var state = "{{STATE}}"
                $( document ).ready(function(){
                    if (name){
                        console.log(name);
                        $('.result').html("<h4>Hi "+name+"</h4>");
                        $('#signinButton').toggleClass('removebutton');
                        $('#signoutButton').toggleClass('removebutton');
                    }
                    else{
                        $('.result').html('<h4>{{error}}</h4>');
                    }
                });
                function start() {
                    gapi.load('auth2', function() {
                        auth2 = gapi.auth2.init({
                        client_id: '{{ CLIENT_ID }}',
                        // Scopes to request in addition to 'profile' and 'email'
                        //scope: 'additional_scope'
                        });
                    });
                }
                $('#signinButton').click(function() {
                    // signInCallback defined in step 6.
                    auth2.grantOfflineAccess().then(signInCallback);
                });
                function signInCallback(authResult) {
                    if (authResult['code']) {
                        // remove sign in button
                        $('#signinButton').toggleClass('removebutton');
                        //show sign out button
                        $('#signoutButton').toggleClass('removebutton');
                        // Send the code to the server
                        $.ajax({
                        type: 'POST',
                        url: '/gconnect?state='+state,
                        // Always include an `X-Requested-With` header in every AJAX request,
                        // to protect against CSRF attacks.
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest'
                        },
                        contentType: 'application/octet-stream; charset=utf-8',
                        success: function(result) {
                            location.reload();
                            name = result.name;
                            // Handle or verify the server response.
                            console.log("Hi " + name);
                            $('.result').html("<h4>Hi "+result.name+"</h4>");
                        },
                        processData: false,
                        data: authResult['code']
                        });
                    } 
                    else {
                        console.log("Failed to make a server-side call. Check your configuration and console.");
                    }
                }
                $('#signoutButton').click(function(){
                    $('#signinButton').toggleClass('removebutton');
                    $('#signoutButton').toggleClass('removebutton');
                    name;
                    $('.result').html("");
                    $.ajax({
                        type: 'get',
                        url: '/gdisconnect',
                        success: function(result) {
                            location.reload();
                            // Handle or verify the server response.
                            console.log("Signed out");
                        }
                    });
                });
            </script>
            <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
            </script>
        </body>
    </body>
</html>