{% extends "Header.html" %}
    {% block content %}
            <div class="container">
                <div class="flex-all">
                    <div class="Genre">
                        <h2><a href="{{ url_for('showGenre') }}">Categories</a></h2>
                        <ul>
                            {% for ag in allGenre %}
                            <li class="genre-list">
                                <a href="{{ url_for('showItems', genre_id = ag.id) }}">{{ ag.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

    {% endblock %}