<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="\static\css\bootstrap.min.css">
    </head>
    <body>
        <h1>Services</h1>
        <ul>
            {% for service in services %}
                <li>
                    <a href="{{ url_for('showServiceItems', service_id = service.id) }}">{{ service.id }} : {{ service.name }}</a>
                    <a href="{{url_for('serviceEdit', service_id = service.id)}}">Edit</a>
                    <a href="{{ url_for('serviceDelete', service_id = service.id) }}">Delete</a>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>