{% extends "Header.html" %}
{% block content %}
        <div class="container">
            <div class="flex-all">

                <div class="Genre">
                    <h2><a href="{{ url_for('showGenre') }}">Categories</a></h2>
                    <ul>
                        {% for ag in allGenre %}
                        <li class="genre-list">
                            <a href="{{ url_for('showItems', genre_id = ag.id) }}">{{ ag.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="Anime">
                    <div class="anime-head">
                        <div class="anime-name">
                            <h2>New Anime</h2>
                        </div>
                    </div>

                    <ul>
                        {% for i in item %}
                            <li>
                                <div class="list-group">
                                    <div class="anime-list ">
                                        <div class="anime-name ">
                                            {{ i.name }}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    
                </div>
            </div>
        </div>
{% endblock %}