<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="\static\css\bootstrap.min.css">
    </head>
    <body>
        <h1>Services</h1>
        <ul>
            {% for serviceItem in serviceItems %}
                <li>
                    {{ serviceItem.id }} : {{ serviceItem.name }}
                    <a href="{{url_for('serviceItemEdit', serviceItem_id = serviceItem.id, service_id = service.id)}}">Edit</a>
                    <a href="{{ url_for('serviceItemDelete', serviceItem_id = serviceItem.id, service_id = service.id) }}">Delete</a>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>